obj/Debug/net5.0/ref/CasualEmployee.API.dll
obj/Debug/net5.0/CasualEmployee.API.pdb
obj/Debug/net5.0/CasualEmployee.API.dll
obj/Debug/net5.0/CasualEmployee.API.csproj.CoreCompileInputs.cache
bin/Debug/net5.0/ref/CasualEmployee.API.dll
bin/Debug/net5.0/CasualEmployee.API.pdb
bin/Debug/net5.0/CasualEmployee.API.dll
obj/Debug/net5.0/ref/CasualEmployee.API.dll
obj/Debug/net5.0/CasualEmployee.API.pdb
obj/Debug/net5.0/CasualEmployee.API.dll
obj/Debug/net5.0/CasualEmployee.API.csproj.CoreCompileInputs.cache
bin/Debug/net5.0/ref/CasualEmployee.API.dll
bin/Debug/net5.0/CasualEmployee.API.pdb
bin/Debug/net5.0/CasualEmployee.API.dll
